*, *::after, *::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-family: "Lato", sans-serif;
}

.header {
  height: 5rem;
  box-shadow: 0px 1em 1em 0.1em rgba(0, 0, 0, 0.1);
}

.header-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 70rem;
  height: 100%;
  padding: 0 2rem;
  margin: auto;
}

.nav_hamburger {
  background-color: transparent;
  border: none;
}

.nav_buttons {
  display: none;
}

.nav_button {
  display: inline-block;
  padding: 0;
  margin: 0;
}

.register {
  display: block;
  padding: 0.75rem 2rem;
  margin-left: 1rem;
  font-size: 0.75rem;
  font-weight: 900;
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 1px;
  background-color: #00b289;
  border-radius: 5px;
}

.login {
  display: block;
  padding: 0.75rem 2rem;
  margin-left: 1rem;
  font-size: 0.75rem;
  font-weight: 900;
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 1px;
  background-color: #00b289;
  border-radius: 5px;
  padding: 0.75rem 1.25rem;
  color: #00b289;
  background-color: transparent;
  border: 1px solid #00b289;
}

.pricing {
  margin-top: 10rem;
}

.wrapper {
  max-width: 70rem;
  margin: auto;
}

.heading_wrapper {
  display: flex;
  gap: clamp(1rem, 5vw, 7rem);
  align-items: center;
  justify-content: center;
  padding: 0 1rem;
  margin: 2rem 0;
}

.heading {
  font-family: "Merriweather";
  font-size: clamp(1.5rem, 5vw, 2.5rem);
  font-weight: 700;
}

/*  */
@media (min-width: 768px) {
  .card-wrapper {
    display: flex;
  }
}

.card {
  padding: 0 clamp(1rem, 5vw, 3rem);
  margin: 2rem 1rem;
  border: 1px solid #999;
  border-radius: 5px;
}

.pack_name {
  margin-top: 3rem;
  margin-bottom: 0.25rem;
  font-size: 1.25rem;
}

.pack_description {
  margin-bottom: 1.5rem;
  font-weight: 300;
}

.price {
  position: relative;
  display: block;
  text-transform: uppercase;
}

.currency {
  position: absolute;
  top: 1rem;
  font-size: 2rem;
  font-weight: 400;
}

.number {
  margin-left: 1.5rem;
  font-size: 4rem;
  font-weight: 900;
}

.recurring {
  margin-left: 2rem;
  font-size: 1.5rem;
}

.hr {
  margin-bottom: 2rem;
  border: 1px solid #00b289;
}

.FeatureList {
  margin-left: 1rem;
  list-style-image: url("./tick.svg");
}

.FeatureItem {
  padding-left: 1rem;
  margin-bottom: 1.25rem;
}

.btn-primary {
  display: block;
  padding: 0.75rem 2rem;
  margin-left: 1rem;
  font-size: 0.75rem;
  font-weight: 900;
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 1px;
  background-color: #00b289;
  border-radius: 5px;
  padding: 1.75rem 0;
  margin: 3rem auto;
  font-size: 0.9rem;
  text-align: center;
  vertical-align: baseline;
}

/* *** SWITCH *** */
.switch_wrapper {
  position: relative;
  display: flex;
  gap: clamp(1rem, 3vw, 2rem);
  align-items: center;
}

.free {
  position: absolute;
  top: -2rem;
  right: -1rem;
  font-size: 0.75rem;
  font-weight: 700;
  color: #00b289;
  text-transform: uppercase;
}

.switch_desc {
  font-weight: 500;
  text-transform: uppercase;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {
  width: 0;
  height: 0;
  opacity: 0;
}

.slider {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  cursor: pointer;
  background-color: #ccc;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  bottom: 4px;
  left: 4px;
  width: 26px;
  height: 26px;
  content: "";
  background-color: white;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #00b289;
}

input:focus + .slider {
  box-shadow: 0 0 1px #00b289;
}

input:checked + .slider:before {
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}/*# sourceMappingURL=style.css.map */